.App {
    display: grid;
    height: calc(90vh - 30px);
    width: 100vw;
    grid-template-rows: 30px auto;
}

.menu {
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.menu-item {
    width: 100px;
    color: blue;
    border: solid aqua 1px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}

.ltool {
    margin-top: 10px;
    display: inline-grid;
    grid-gap: 3px;
    grid-row: 2/2;
    grid-template-columns: 200px auto;
}

.lselect {
    grind-column: 1/2;
    border: solid 1px;
}

.lselect > select {
    margin-top: 5px;
    border: solid green 2px;
    width: 100%;
    overflow: hidden;
}


.bbox {
    grid-column: 2/2;
}

.bbox-canvas {
    border: solid 1px;
}


.file-browser-top {
    margin-top: 10px;
    display: inline-grid;
    grid-gap: 3px;
    grid-row: 2/2;
    grid-template-columns: 200px auto auto;
}

.file-select {
    grid-column: 1/3;
    grid-row: 1/1;
}

.file-source {
    grid-column: 2/3;
    grid-row: 1/1;
}

.file-dest {
    grid-column: 3/3;
    grid-row: 1/1;
}

.processed {
    color: green;
}

.not-processed {
    color: red;
}

.browser-image {
    width: 100%;
}
